.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .signup-box {
        max-width: 250px;
        width: 100%;
        padding: 20px 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px #9d9d9d;
        display: flex;
        align-items: center;
        flex-direction: column;
        .title {
            font-size: 22px;
            text-align: center;
            color: #5379ef;
            margin-bottom: 4px;
        }

        .sub-title {
            font-size: 14px;
            text-align: center;
            color: #afaebb;
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            margin-bottom: 8px;
            border: 1.5px solid #bb53ef;
            border-radius: 4px;
            height: 32px;
            padding-left: 8px;

        }
        .signup-btn{
            margin: 8px;
            border: none;
            padding: 8px 31px;
            border-radius: 4px;
            background: linear-gradient(215deg, #5379ef, #bb53ef);
            color: #fff;
            cursor: pointer;
            &:hover{
                background: linear-gradient(15deg, #5379ef, #bb53ef);
            }
        }

        .signup-user-profile-pic{
            height: 35px;
            width: 35px;
            border-radius: 35px;
            object-fit: cover;
            margin-bottom: 20px;
        }
    }
}